<div class="fixed-bottom">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio<br />
        <small style="color: cadetblue;">#köket</small>
      </li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li><span></span>
    </ul>
  </div>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
   
      <input type="text" class="form-control" id="doit" placeholder="What to do!">
      <button type="button"  (click)="addNewItem()" [disabled]="titleInput.errors">Add</button>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item dropup">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Dropup</a>
          <div class="dropdown-menu" aria-labelledby="dropdown10">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>